aside {
    width: calc(150%);
    height: 1000px;
    padding: 10px;
    margin: 10px;
    background: wheat;
    border-radius: 10px;
    text-decoration: none;
    margin-right: auto;
    margin-left: auto;
}

.aside-link a {
    text-align: left;
    display: inline;
    color: black;
    border-radius: 10px;
    list-style:armenian;
    font-size: 16px;
}