body {
    background: #cfcdcd;
}

.container {
    width: 70%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

main {
    background: white;
    color: black;
    border-radius: 10px;
    border: 2px solid gold;
    padding: 15px;
    margin: 5px;
    padding: 10px;
    margin: 15px;
}

