
nav {
    position: relative;
    display: inline-block;
    color: black;
    padding: 10px;
    margin: 10px;
    background: white;
    border-radius: 10px;
    text-decoration-line: none;
    left: 500px;
}

ul li {
    text-align: center;
    display: inline-block;
    color: red;
    padding: 10px;
    margin: 15px;
    background: white;
    text-decoration-line: none;
    text-align: end;
}