
.link-sleeping {
    height: 250px;
    width: 400px;
    left: 200px;
    position: relative;
}

.header-img {
    width: 100vh;
    width: 100vh;
}

.gaia {
    height: 300px;
    width: 400px;
    background-position: center;
}